body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color:#434455;
    line-height: 1.5;
    font-size: 16px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    font-style: normal;
    color: #434455;
}

h3 {
    font-weight: 500;
}
/* Header */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    color: #2e2f42;
}

.header-link {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-link:hover:focus {
    color: #404BBF;
}

.header-link:active {
    text-decoration: underline;
}
.header-address {
    font-style: normal;
}

.contact {
    letter-spacing: 0.02em;
}
.contact:hover:focus {
    color: #404bbf;
}
/* Main */
.subtitle {
    line-height: 1.11;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    color: #2E2F42;
}

/* section - 1 */
.section-title {
    background-color: #2E2F42;
}

.title {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

.butt{
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.butt:hover:focus {
    background-color: #404BBF;
}
/* section - 2 */
.advantages {
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.adv-about {
    letter-spacing: 0.02em;
}

/* section - 3 */
.team {
    background-color: #F4F4FD;
}
.team-card {
    background-color: #ffffff;
}


/* Footer */
.footer {
    background-color: #2E2F42;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-par {
    color: #F4F4FD;
}